.App {
  text-align: center;
}

.nav-color-productivity {
  background-color: #d33e57 !important;
}

.nav-color-break {
  background-color: #3e8bd3 !important;
}

.timeline-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timeline {
  background-color: #424242;
  border-radius: 15px;
  float: left;
  height: 4px;
  margin: 9px 0;
  width: 423px;
}

.play-head {
  background-color: #fff;
  border-radius: 50%;
  border: solid 1px #bdbdbd;
  height: 15px;
  margin-top: -5px;
  max-width: 15px;
}

.play-head:hover {
  cursor: pointer;
  background-color: #d8d6eb;
}

.play-pause-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 45px;
  margin-right: 1em;
}

.play-pause-container .icon {
  cursor: pointer;
}

.play-pause-container .icon:hover {
  color: #d8d6eb;
}
